.BoardHeader {
    display: flex;
    gap: 40px;
    align-items: center;
}

.BoardHeader>h2 {
    /* flex: 1; */
    font-size: 29px;
    font-weight: 400;
    color: rgb(18, 53, 119);
    word-spacing: 5px;
    line-height: 40px;
}

.BoardHeader>button {
    cursor: pointer;
    font-size: 23px;
    color: #343A40;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    width: 40px;

}

.BoardHeader>img {
    width: 120px;
}

.BoardWriting>section {
    margin-bottom: 80px;
}

.BoardWriting>section>input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
}

.content_section>textarea {
    font-size: 14px;
    width: 100%;
    padding: 10px 5px;
    resize: vertical;
    box-sizing: border-box;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

.BoardWriting .button_section {
    display: flex;
    justify-content: space-between;
}

.BoardWriting .button_section>button {
    cursor: pointer;
    font-size: 32px;
    font-weight: 450;
    background-color: white;
    padding: 5px 15px;
    margin-top: -30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.082);
}

.BoardWriting .button_section .delete_true {
    visibility: visible;
}

.BoardWriting .button_section .delete_false {
    visibility: hidden;
}

.img_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.img_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.img_main_title {
    display: flex;
    align-items: center;
    gap: 2px;
}

.img_main_title>div>h3 {
    font-size: 25px;
    font-weight: 700;
}

.new {
    background-color: rgb(102, 129, 180);
    transform: rotate(-8deg);
    padding: 5px 25px;
    border-radius: 50%;
    width: 60px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.new>h2 {
    font-size: 30px;
    color: white;
}

.img_sub_title {
    flex: 1;
    padding: 15px 10px;
    border-radius: 20px;
    border: none;
    background-color: #dddddd;
}

.img_sub_title>h4 {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    font-size: 50px;
    line-height: 20px;
    white-space: nowrap;
}

.img_div {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;

}

.memorization {
    margin-top: -45px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

.img_true {
    visibility: visible;
}

.img_false {
    display: none;
}

.img_section>div>img {
    max-width: 350px;
}

.img_section>form {
    display: flex;
    padding: 10px 20px;
    background-color: #b1cbe6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.img_section>form>label {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
}

.button_section {
    margin-top: -30px;
}