.EmotionItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 6px;
    cursor: pointer;
}

.EmotionItem>img {
    max-width: 110px;
    max-height: 110px;
}

.EmotionItem {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.emotionID_1,
.emotionID_2,
.emotionID_3,
.emotionID_4,
.emotionID_5 {
    border: 2px solid black;
    font-weight: 600;
}